.row
  #content-instructions.content.col-md-12
    .container
      .row
        .col-md-10.col-md-offset-1
          %h3 Here’s what you need to know:
          %br
          %h4
            Here is the most important link to become part of the global online hackathon already taking place
          = link_to 'http://git.geekli.st/root/hack4good-0-2/wikis/home', 'http://git.geekli.st/root/hack4good-0-2/wikis/home', target: '_blank'
          %br
          %br

          %h4 Basically we need participants to do 3 main things
          %ol
            %li Sign in online
            %li Find ideas and form teams (connect online if needed to find people inside geeklist)
            %li Post projects and hack
          %br

          %h4 Checkin Online:
          = link_to 'http://bit.ly/18WKfPc', 'http://bit.ly/18WKfPc', target: '_blank'
          %br
          %br

          %h4 Add and find ideas:
          = link_to 'http://bit.ly/18WLyxv', 'http://bit.ly/18WLyxv', target: '_blank'
          %br
          %br

          %h4 Post your Team and Project:
          = link_to 'http://bit.ly/18BQo2u', 'http://bit.ly/18BQo2u', target: '_blank'
          %br
          %br

          %h4 Join the live chat room:
          = link_to 'http://www.hipchat.com/gjgvFAPYx', 'http://www.hipchat.com/gjgvFAPYx', target: '_blank'
          %br
          %br

          %h4 Connect in Geeklist:
          = link_to 'http://geekli.st/hack4good', 'http://geekli.st/hack4good', target: '_blank'
          = link_to 'https://geekli.st/hackathon/520bcbb0620169670e00000c', 'https://geekli.st/hackathon/520bcbb0620169670e00000c', target: '_blank'
          %br
          %br

          %h4 Audio Stream with music and interviews:
          =link_to 'http://radio.sourcefabric.org/', 'http://radio.sourcefabric.org/', target: '_blank'
          %br
          %br

          %h4 Eventbrite Page:
          = link_to 'http://hack4good02-ny.eventbrite.com/', 'http://hack4good02-ny.eventbrite.com/', target: '_blank'