!!!
%html
  %head
    =render 'layouts/metatags'
    = stylesheet_link_tag "application", :media => "all"
    = csrf_meta_tags
    = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container-fluid
      #bg
        = image_tag 'background.jpg'
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
    = javascript_include_tag "application"
    = yield :extra_js
    / ! end of #container
