!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "#Hack4Good es una hackathon que se desarrolla simultáneamente en más de 20 ciudades en todo el mundo. Su objetivo es unir a desarrolladores, diseñadores, programadores y emprendedores en la búsqueda de soluciones para diversas problemáticas sociales"
      %meta{:content => content_for?(:description) ? yield(:description) : "Hack4good Santiago", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    #container.container-fluid
      #bg
        = image_tag 'background.jpg'
      %header
        = render 'layouts/navigation'
        = render 'layouts/messages'
      #main{:role => "main"}
        = yield
      %footer
    = javascript_include_tag "application"
    = yield :extra_js
    / ! end of #container
